.card-list {
  display: grid;
	grid-auto-rows: 1fr;
  grid-row-gap: $spacer-2;
}

.card {
  transition: opacity 0.3s, transform 0.2s, box-shadow 0.3s;
  position: relative;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  position: relative;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  color: $c-white;
  cursor: pointer;

  &:active {
    transform: scale3d(0.99, 0.99, 1);
  }

  &:hover &__background-img,
  &:hover &__fore-img {
    backface-visibility: hidden;
    transform: scale3D(1.025, 1.025, 1);
  }
}

.card__header {
  position: relative;
  z-index: 1;
}

.card__header h4 {
  transition: opacity 0.3s, border 0.3s;
  opacity: 1;
  border-bottom: 1px solid rgba($c-white, 1);
}

.card__footer {
  text-align: center;
  position: relative;
  z-index: 1;
  flex: 1;
}

.card__fore-img {
  transition: transform 0.6s;
  transform-origin: bottom center;
  width: 100%;
  max-width: 808px;
  position: relative;
  bottom: -4px;
}

.card__background-img {
  transition: transform 0.6s;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.card--cnn .card__background-img {
  background-position: bottom right;
}

.card--facebook .card__background-img {
  background-position: top right;
  transform-origin: center right;
}

.card--farmlogs .card__background-img {
  background-position: center right;
}

.card--gcs .card__background-img {
  background-position: top right;
}

.card--isaac .card__background-img {
  background-position: top right;
  transform-origin: top right;
}

.card--hologram .card__background-img,
.card--searchparty .card__background-img {
  display: none;
}

@include respond-to($bp-small){
  .card__footer {
    text-align: right;
  }

  .card__fore-img {
    bottom: -4px;
    right: -90px;
  }

  .card--hologram .card__background-img,
  .card--searchparty .card__background-img {
    display: block;
    background-position: right;
    transform-origin: top right;
  }
}

@include respond-to($bp-medium){
  .card .card__background-img {
    opacity: 1;
  }

  .card__header h4 {
    opacity: 0.5;
    border-bottom: 1px solid rgba($c-white, 0);
  }

  .card:hover h4 {
    opacity: 1;
    border-bottom-color: rgba($c-white, 0.75);
  }
}
