$gutter: $spacer-1;

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: $gutter / 2 * -1;
  margin-left: $gutter / 2 * -1;
}

@mixin loop($breakpoint: '') {
  .col#{$breakpoint},
  .col-1#{$breakpoint},
  .col-2#{$breakpoint},
  .col-3#{$breakpoint},
  .col-4#{$breakpoint},
  .col-5#{$breakpoint},
  .col-6#{$breakpoint},
  .col-7#{$breakpoint},
  .col-8#{$breakpoint},
  .col-9#{$breakpoint},
  .col-10#{$breakpoint},
  .col-11#{$breakpoint},
  .col-12#{$breakpoint},
  .col-offset-1#{$breakpoint},
  .col-offset-2#{$breakpoint},
  .col-offset-3#{$breakpoint},
  .col-offset-4#{$breakpoint},
  .col-offset-5#{$breakpoint},
  .col-offset-6#{$breakpoint},
  .col-offset-7#{$breakpoint},
  .col-offset-8#{$breakpoint},
  .col-offset-9#{$breakpoint},
  .col-offset-10#{$breakpoint},
  .col-offset-11#{$breakpoint},
  .col-offset-12#{$breakpoint} {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
    margin-bottom: $gutter;
  }

  .col#{$breakpoint} {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-1#{$breakpoint} {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-2#{$breakpoint} {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-3#{$breakpoint} {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-4#{$breakpoint} {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-5#{$breakpoint} {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-6#{$breakpoint} {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-7#{$breakpoint} {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-8#{$breakpoint} {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-9#{$breakpoint} {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-10#{$breakpoint} {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-11#{$breakpoint} {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-12#{$breakpoint} {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-offset-1#{$breakpoint} {
    margin-left: 8.33333333%;
  }

  .col-offset-2#{$breakpoint} {
    margin-left: 16.66666667%;
  }

  .col-offset-3#{$breakpoint} {
    margin-left: 25%;
  }

  .col-offset-4#{$breakpoint} {
    margin-left: 33.33333333%;
  }

  .col-offset-5#{$breakpoint} {
    margin-left: 41.66666667%;
  }

  .col-offset-6#{$breakpoint} {
    margin-left: 50%;
  }

  .col-offset-7#{$breakpoint} {
    margin-left: 58.33333333%;
  }

  .col-offset-8#{$breakpoint} {
    margin-left: 66.66666667%;
  }

  .col-offset-9#{$breakpoint} {
    margin-left: 75%;
  }

  .col-offset-10#{$breakpoint} {
    margin-left: 83.33333333%;
  }

  .col-offset-11#{$breakpoint} {
    margin-left: 91.66666667%;
  }

  .col-offset-12#{$breakpoint} {
    margin-left: 100%;
  }
}
@include loop();
@include respond-to($bp-small) { @include loop("-sm"); }
@include respond-to($bp-medium) { @include loop("-md"); }
@include respond-to($bp-large) { @include loop("-lg"); }
@include respond-to($bp-extralarge) { @include loop("-xl"); }
