.screen-viewer--scrollable .screen-viewer__screen-inner {
  overflow-y: scroll;
}

.screen-viewer__screen {
  width: 100%;
  background: #FFF;
  border: 1px solid #FFF;
  box-shadow: 0 12px 40px 0 rgba(0,0,0,0.25);
  border-radius: 21px;
  position: relative;
}

.screen-viewer__screen-inner {
  height: 500px;
  overflow-y: hidden;
  border: 1px solid rgba(#000, 0.1);

  img {
    width: 100%;
  }
}

.screenViewer__help-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  span {
    font-size: $type-0;
    padding: $spacer-1 $spacer-2;
    border-radius: 100px;
    background-color: #000;
    color: #fff;
  }
}

.screen-viewer__menu {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen-viewer__menu-item {
  transition: opacity 0.3s;
  display: flex;
  // flex-direction: column;
  text-align: center;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
  }

  &--active,
  &:hover {
    opacity: 1;
  }
  &--active:before {
    content: '↑';
    margin-right: $spacer-1;
  }

  &--active {
    color: #fff;
    background-color: #000;
    padding: $spacer-1 $spacer-2;
    border-radius: 6px;

  }

  & + .screen-viewer__menu-item {
    margin-left: $spacer-3
  }
}
