// Color
$c-text-dark: #000;

// Spacing
$spacer-0: 0;
$spacer-1: 10px;
$spacer-2: 20px;
$spacer-3: 40px;
$spacer-4: 76px;
$spacer-5: 100px;

// Type sizes
$type-0: 13px;
$type-1: 15px;
$type-2: 18px;
$type-3: 20px;
$type-4: 25px;
$type-5: 32px;

// Responsive breakpoints
$bp-small: 460;
$bp-medium: 768;
$bp-large: 1024;
$bp-extralarge: 1400;
