<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Portfolio : Kevin Ports</title>
<meta name="description" content="Kevin Ports is a front-end developer, designer and problem solver based in Madison, WI, USA">
<link rel="icon" type="/image/png" href="/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="/image/png" href="/favicon-16x16.png" sizes="16x16" />
<link rel="stylesheet" href="/styles/global.css">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111120088-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111120088-1');
</script>
