<nav role="navigation" aria-label="Projects">
  <ul class="unstyled">
    <li>
      <a href="/">Back to index</a>
    </li>
    <li>
      <a href="/projects/{{lastProject.slug}}">← Previous</a>
    </li>
    <li>
      <a href="/projects/{{nextProject.slug}}">Next →</a>
    </li>
  </ul>
</nav>
