* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--type-sans);
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

@supports (display: flex) {
  .flex {
    display: flex;
  }

  .flex > * {
    flex: 1;
  }

  @media (max-width: 768px) {
    .flex {
      flex-direction: column;
    }
  }
}



img {
  width: 100%;
}
